body{
    font-family: 'Oswald', sans-serif;
}
.Name-color{
    color: orange;
}
.Half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.Half-width img{
    width: 100%;
}